/* Réinitialisation des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header */
.header {
    background-color: #262626;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding: 15px 50px;
}

.header img {
    height: 50px;
}

.header nav {
    display: flex;
    gap: 20px;
}

.header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Contenu principal */
/* Contenu principal */
.content {
    flex-grow: 1;
    width: 100%;
}

/* Footer */
.footer {
    background-color: #262626;
    color: white;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: auto;
}

.logo-ubisoft {
    width: 5rem;
    height: 5rem;
}

.footer .footer_logo_left,
.footer .left, 
.footer .center, 
.footer .right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer .age-rating {
    width: 5vw;
    height: 7vw;
}

.header a, .footer a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.header a:hover, footer a:hover {
    color: #00C3AD; 
    text-shadow: 2px 2px 4px rgba(0, 195, 173, 0.7);
}

@media screen and (max-width: 768px) {
    .footer .age-rating {
        width: 8vw;
        height: auto;
    }
}
